.single_product {
    width: 100%;
    margin:  0 15px;
    padding: 10px;
    border: 1px solid black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 20px;
    justify-content: space-between;
}

.products_card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(243, 214, 218);
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
}

.card_img {
    width: 230px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;

}

.card_img img {
    width: 100%;
    height: 100%;
    margin: auto; 
}

 button {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 230px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}